<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<script type="text/javascript" src="https://cdn.goeasy.io/goeasy.js"></script>

                      <script type="text/javascript">


                          var goEasy = new GoEasy({
appkey:"5607ca4e-ad73-4860-8e81-6488c7d253e9",
onConnected: function () {
          console.log("成功连接GoEasy。");
},
onDisconnected: function () {
    console.log("与GoEasy连接断开。");
},
onConnectFailed: function (error) {
     console.log("与GoEasy连接失败，错误编码："+error.code+"错误信息："+error.content);
}
});

{#                          goEasy.publish({#}
{#                        channel: 'demo_channel',#}
{#                        message: 'Hello world!'#}
{#                    });#}

                      </script>


 <div id="container" style="height: 400px"></div>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript">
var dom = document.getElementById("container");
var myChart = echarts.init(dom);
var app = {};
option = null;
var base = +new Date(2014, 9, 3);
var oneDay = 24 * 3600 * 1000;
var date = [];

var data = [Math.random() * 150];
var now = new Date(base);

function addData(shift,number) {
    now = [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/');
    date.push(now);
    data.push(number);

    if (shift) {
        date.shift();
        data.shift();
    }

    now = new Date(+new Date(now) + oneDay);
}

    addData(null,0);


goEasy.subscribe({
    channel: "demo_channel",
    onMessage: function (message) {
        console.log("您有新消息：channel：" + message.channel + " 内容：" + message.content);
    addData(null,parseInt(message.content));

        },
    onSuccess: function () {
        console.log("Channel订阅成功。");
    },
    onFailed: function (error) {
       console.log("Channel订阅失败, 错误编码：" + error.code + " 错误信息：" + error.content)
    }
});



option = {
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: date
    },
    yAxis: {
        boundaryGap: [0, '50%'],
        type: 'value'
    },
    series: [
        {
            name:'成交',
            type:'line',
            smooth:true,
            symbol: 'none',
            stack: 'a',
            areaStyle: {
                normal: {}
            },
            data: data
        }
    ]
};

app.timeTicket = setInterval(function () {

    myChart.setOption({
        xAxis: {
            data: date
        },
        series: [{
            name:'成交',
            data: data
        }]
    });
}, 1000);;
if (option && typeof option === "object") {
    myChart.setOption(option, true);
}
       </script>




</body>

</html>